In [1]:
#!pip install selenium

Requirement already satisfied: selenium in c:\users\sandip darveshi\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\sandip darveshi\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [3]:
from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_experimental_option("useAutomationExtension", False)
chrome_options.add_experimental_option("excludeSwitches",["enable-automation"])
driver = webdriver.Chrome(options=chrome_options,)

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:

first get the webpage https://www.naukri.com/
Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data. Note- All of the above steps have to be done in code. No step is to be done manually.

In [11]:
#first connect to the web driver through chromedriver.exe which is prsent in downlod file
driver=webdriver.Chrome(r"chromedriver.exe")
url='https://www.naukri.com/'
driver.get(url)

In [12]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("data scientist")
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Delhi")

In [13]:
search_btn=driver.find_elements_by_xpath("//button[@class='btn']")
search_btn

[<selenium.webdriver.remote.webelement.WebElement (session="64f1faf601f5d12c045130ea1b404ce7", element="93753d48-09ea-4595-9222-7e63e5c606a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64f1faf601f5d12c045130ea1b404ce7", element="6e774a4f-0752-45a8-88aa-b3015223e558")>,
 <selenium.webdriver.remote.webelement.WebElement (session="64f1faf601f5d12c045130ea1b404ce7", element="f0d5cb91-4fd6-4cae-a704-0aa6926b2d99")>]

In [14]:
search_btn=driver.find_element_by_class_name('btn')
search_btn.click()

In [77]:
#extract all the tags havng job title
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="49041d37-a461-490a-a115-7c13f2de2dd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="0fc0c8e4-1339-420c-a18f-1c67b1c6a9cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="82a5e425-204f-45ec-b232-6b56995b4146")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="11e1721b-8bd3-44a1-bf09-ae9ebd31f1d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="f16e7a1e-f566-4d9b-9acf-0a7a06df677f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="d9722452-a58b-43a7-bd3f-5aec6c8de0bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="971deb0e-0d34-49b8-9320-05fe95ab49dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="e245dc23-b651-4acf-aacf-c24cb8f419b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="4ddd6d16-96ea-4f3c-8a8f-d4bf4d7085dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="b519dc1c-6064-4a52-aeec-2ff181237768")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="cc7fa5cd-b505-4cea-af71-5b263060ab60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="74dc5d39-c69b-4121-929e-4de63b678a6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="5ba43940-c14b-4c46-a7fa-e5e8cf3fec73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="fc4b9f2d-0f50-4ac0-9a6d-7ca7cec3c51e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="0227d046-1a00-4d85-9d53-1f2e7c53f7b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="a029763e-9625-4789-a16d-a3df734371bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="59a41ea4-4e4c-477a-91cc-b58383d56b6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="443cd76f-4301-4919-9bd9-0fb38a218f83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="a3e7f5bf-0d1f-4810-bfab-b8d5489dd848")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="bc01758e-1c88-4670-a222-82b70e5bff4b")>]

In [78]:
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="49041d37-a461-490a-a115-7c13f2de2dd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="0fc0c8e4-1339-420c-a18f-1c67b1c6a9cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="82a5e425-204f-45ec-b232-6b56995b4146")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="11e1721b-8bd3-44a1-bf09-ae9ebd31f1d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="f16e7a1e-f566-4d9b-9acf-0a7a06df677f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="d9722452-a58b-43a7-bd3f-5aec6c8de0bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="971deb0e-0d34-49b8-9320-05fe95ab49dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="e245dc23-b651-4acf-aacf-c24cb8f419b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="4ddd6d16-96ea-4f3c-8a8f-d4bf4d7085dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="b519dc1c-6064-4a52-aeec-2ff181237768")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="cc7fa5cd-b505-4cea-af71-5b263060ab60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="74dc5d39-c69b-4121-929e-4de63b678a6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="5ba43940-c14b-4c46-a7fa-e5e8cf3fec73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="fc4b9f2d-0f50-4ac0-9a6d-7ca7cec3c51e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="0227d046-1a00-4d85-9d53-1f2e7c53f7b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="a029763e-9625-4789-a16d-a3df734371bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="59a41ea4-4e4c-477a-91cc-b58383d56b6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="443cd76f-4301-4919-9bd9-0fb38a218f83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="a3e7f5bf-0d1f-4810-bfab-b8d5489dd848")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="bc01758e-1c88-4670-a222-82b70e5bff4b")>]

In [79]:
#extract job title is inside the tags using for loop
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles

['Senior Data Scientist ( m / f / d )',
 'Sr Data Scientist',
 'Sr. Data Scientist/Data Scientist',
 'Co-Founder & Principal Data Scientist/Senior Scientist',
 'Data Scientist / Data Analyst',
 'Co-Founder - Principal Data Scientist/Senior Data Scientist',
 'Senior Data Scientist (m/f/d)',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Analyst/Data Scientist',
 'Data Scientist : Manager / Sn. Manager / one of the MNC',
 'Data Scientist : Manager / Sn. Manager / one of the MNC',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Associate Manager - Data Engineering/Data Modelling/Data Scientist',
 'Data Scientist']

In [80]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="9f430b1a-5152-43df-9ccb-2543a221280c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="f3dad77f-a87d-409b-afed-94b3d3dd6e58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="2ff3ca64-1bbc-42d5-8cb2-6a9365b61288")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="6651e34b-0a52-4da1-9d45-e769bc88b86c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="c690bd0f-d3e6-4d0c-bdee-83b0e384d992")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="1c234262-ac32-4928-a9da-5be1ff651410")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="f6ed3921-6cb6-4776-96ea-e03852f03a0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="f389592e-b6d5-415b-9309-9d38295c5467")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="89610425-8355-475d-9620-31a3bffc6900")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="42d1172d-7e6a-45be-b221-60ed0389e786")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="cb24d1bc-625b-496e-9ef1-bd9d737a3426")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="0110cdd2-3fdf-4ec6-afbf-799535d2e279")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="8fd33bf7-46f2-426c-b553-f3f91095acb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="13d99f6a-a286-499c-80ca-af7ee644f77a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="857fb545-f407-4fbe-92cc-5336451a65c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="321acc9a-e549-4f2c-af4d-515de5002282")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="f56bd28f-1c14-4fe7-9c61-3fdcf07fa1e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="060e30d1-3cd0-4f01-b154-23a1379a7e2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="c92bd617-2d64-4448-b9a1-8808a6baf9d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="93e4594f-22e3-42cd-8a36-bcd05670517e")>]

In [81]:
#extract company title is inside the tags using for loop
company_titles=[]
for i in company_tags:
    company_titles.append(i.text)
company_titles

['Adidas Group',
 'Superior Group',
 'Pentair Water India Pvt Ltd',
 'Benovymed Healthcare',
 'CARS24',
 'Benovymed Healthcare Private Limited',
 'Adidas Group',
 'Oracle India Pvt. Ltd.',
 'Aryng',
 'Skillenable Fintech Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'PROCESS NINE TECHNOLOGIES PVT.LTD.',
 'Lenskart.com',
 'Altran Technologies India Private Limited.',
 'TalentStack',
 'IBM India Pvt. Limited',
 'GABA Consultancy services',
 'RateGain Travel technologies Pvt. Ltd.',
 'R Systems International Ltd.']

In [82]:
experiance_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span[1]")
experiance_tags

[<selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="fc4111ca-0a76-482c-8002-22728c082b90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="91e37f8e-5141-4ad0-87f6-41405fa128a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="0ab92672-a806-4eba-8d73-046c3030f636")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="fdf91698-f463-4179-a6f8-f9701eaea10d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="26e5a646-675d-47ed-b37a-e0eba5209310")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="89a8fe4a-158e-4be8-b40b-ba27e7fab173")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="2bc5dad4-41c4-4ea8-a803-4eb9e366e216")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="7c94a021-1bf3-42c3-8930-10be8f2bce62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="254a5de3-a094-4a1e-a0ec-cb3f7b426096")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="82573d8d-6e05-4707-8654-daf31100c9e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="c2ea7c52-f98b-46f2-833f-3a674685dd80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="33e69cb0-58a3-451f-bc5e-7234909d0e8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="1946f5e2-6552-4a48-ad83-eae805c78495")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="52c2f963-996e-4f5d-aab0-caf5c5f35178")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="2195e2be-40f8-4a3d-be5f-6f6916c2a267")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="831e4f0f-9657-46db-a5a1-cbcffb9c46aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="f52314db-bd72-4a8f-b784-97074587c7b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="ec82470d-9c24-4a29-9453-db5d0d06c76d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="34dd213d-c293-4303-b17c-5e684522736b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="b18754b1-1cc7-499f-9acb-c1d24bcfbfad")>]

In [83]:
#extract experiance  is inside the tags using for loop
experiance_yr=[]
for i in experiance_tags:
    experiance_yr.append(i.text)
experiance_yr

['5-10 Yrs',
 '6-11 Yrs',
 '8-12 Yrs',
 '2-7 Yrs',
 '1-5 Yrs',
 '2-7 Yrs',
 '5-10 Yrs',
 '5-9 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '8-13 Yrs',
 '8-13 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '7-12 Yrs',
 '5-10 Yrs',
 '0-0 Yrs',
 '5-8 Yrs',
 '3-6 Yrs']

In [84]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="55a8ecf8-b9b5-459e-a2c6-28b592ec5c38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="f9fa7177-a8a9-4fa8-92cd-d83abcacefc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="2d892cf7-0e96-440a-9c41-8e195707632d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="2e815891-045d-4b1c-ac85-f80c37511860")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="21bb473d-3fc1-4790-b70f-056c7d191700")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="83cd0607-fbd4-4371-8abc-c34f36abf004")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="40f39a38-1aee-4664-b195-485dee1b008a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="1728723f-37a1-4b88-9121-5b3716fd9b50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="b1a6bb88-70d9-4deb-8a70-c1c97971a98c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="b22b6d63-dcb2-4cef-88b3-3e08b1f0fc25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="636be220-d7bf-4888-ac91-9e6f834c04b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="fb34fde2-1e1f-42e0-80d4-dff441179409")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="4a3b25ca-a8b0-4739-b9f8-4b4c4e2991c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="a4a20c22-7e31-4af7-b7f0-9ecac6b364b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="023b5483-54c2-4892-80d3-70f586229358")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="956e2c27-5558-4978-9094-37dfbdc1a76f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="b4aad4a3-3895-4ed3-bf8d-6f618de92404")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="938cf46f-0d12-4d24-a433-e45431d5d832")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="b8edd023-f9ff-40eb-b833-a3de58925bb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="ea7582d1-7c89-4027-a58d-8f33e3cf892b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="556b898e-b2e1-4416-9f3b-5c6d43868268")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="1dea3364-eff1-4b5a-990c-7fb645ae9fa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="71371fccb7fec6f5e3fb1ac23d3c16cc", element="22f9d041-0437-4c5d-94e4-85714a54b640")>]

In [85]:
#extract experiance  is inside the tags using for loop
location=[]
for i in location_tags:
    location.append(i.text)
location

['Gurgaon/Gurugram',
 'New Delhi',
 'Noida',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, United States (USA)',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Gurgaon/Gurugram',
 '(WFH during Covid)',
 'Faridabad',
 'Gurgaon/Gurugram',
 '(WFH during Covid)',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Noida',
 '(WFH during Covid)']

In [86]:
print(len(job_titles)),print(len(company_titles)),print(len(experiance_yr)),print(len(location))

20
20
20
23

(None, None, None, None)

In [87]:
jobs=pd.DataFrame({})
jobs['Job Title']=job_titles[:10]
jobs['Comp Title']=company_titles[:10]
jobs['Exp']=experiance_yr[:10]
jobs['Location']=location[:10]
jobs

,Job Title,Comp Title,Exp,Location
0,Senior Data Scientist ( m / f / d ),Adidas Group,5-10 Yrs,Gurgaon/Gurugram
1,Sr Data Scientist,Superior Group,6-11 Yrs,New Delhi
2,Sr. Data Scientist/Data Scientist,Pentair Water India Pvt Ltd,8-12 Yrs,Noida
3,Co-Founder & Principal Data Scientist/Senior S...,Benovymed Healthcare,2-7 Yrs,"Gurgaon/Gurugram, Delhi / NCR"
4,Data Scientist / Data Analyst,CARS24,1-5 Yrs,Gurgaon/Gurugram
5,Co-Founder - Principal Data Scientist/Senior D...,Benovymed Healthcare Private Limited,2-7 Yrs,"Gurgaon/Gurugram, Delhi / NCR"
6,Senior Data Scientist (m/f/d),Adidas Group,5-10 Yrs,"Gurgaon/Gurugram, United States (USA)"
7,Data Scientist,Oracle India Pvt. Ltd.,5-9 Yrs,"Noida, Bangalore/Bengaluru"
8,Senior Data Scientist,Aryng,4-9 Yrs,"Bangalore/Bengaluru, Delhi"
9,Data Analyst/Data Scientist,Skillenable Fintech Private Limited,2-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- 1. All of the above steps have to be done in code. No step is to be done manually.

In [4]:
#first connect to the web driver through chromedriver.exe which is prsent in downlod file
driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
url='https://www.naukri.com/'
driver.get(url)

In [6]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("data scientist")

In [7]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

In [8]:
search_btn=driver.find_elements_by_xpath("//button[@class='btn']")
search_btn

[<selenium.webdriver.remote.webelement.WebElement (session="e4ce5775cb8aa18b860fad54bed9eeb6", element="268c89fe-0419-47dd-92e8-c647ce392c5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4ce5775cb8aa18b860fad54bed9eeb6", element="7e90dea7-644d-44bf-ba76-a86967c12b54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e4ce5775cb8aa18b860fad54bed9eeb6", element="a3397dff-a144-4a24-b343-b08a1e42b056")>]

In [9]:
search_btn=driver.find_element_by_class_name('btn')
search_btn.click()

In [49]:
#extract all the tags havng job title
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#extract job title is inside the tags using for loop
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)

company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#extract company title is inside the tags using for loop
company_titles=[]
for i in company_tags:
    company_titles.append(i.text)
experiance_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span[1]")
#extract experiance  is inside the tags using for loop
experiance_yr=[]
for i in experiance_tags:
    experiance_yr.append(i.text)

location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
#extract experiance  is inside the tags using for loop
location=[]
for i in location_tags:
    location.append(i.text)

,Job Title,Comp Title,Exp,Location
0,Lead Data Scientist BFSI,IBM India Pvt. Limited,5-9 Yrs,Bengaluru/Bangalore
1,Associate Data Scientist,Philips India Limited,3-5 Yrs,Bangalore/Bengaluru
2,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,3-7 Yrs,Bengaluru/Bangalore
3,Senior Data Scientist,Airbnb,7-12 Yrs,Bangalore/Bengaluru
4,SENIOR DATA SCIENTIST,Happiest Minds Technologies Pvt.Ltd,5-10 Yrs,Bangalore/Bengaluru
5,Data Scientist (Python & SQL),AVE-Promagne,6-8 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
6,Sr Data Scientist,IBM India Pvt. Limited,6-8 Yrs,Bengaluru/Bangalore
7,Sr Data Scientist,IBM India Pvt. Limited,6-8 Yrs,Bangalore/Bengaluru
8,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,6-11 Yrs,Bangalore/Bengaluru
9,Freelance Data Scientist Project Based,Shikvix,3-8 Yrs,Remote

In [51]:
driver=webdriver.Chrome(r"chromedriver.exe")
url='https://www.naukri.com/data-scientist-jobs-in-bangalore-bengaluru?k=data%20scientist&l=bangalore%2Fbengaluru'
driver.get(url)

In [52]:
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))
urls

['https://www.naukri.com/job-listings-lead-data-scientist-bfsi-ibm-india-pvt-limited-bengaluru-bangalore-5-to-9-years-070921901691?src=jobsearchDesk&sid=16311116007807007&xp=1&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-philips-india-limited-bangalore-bengaluru-3-to-5-years-060921501985?src=jobsearchDesk&sid=16311116007807007&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-070921901677?src=jobsearchDesk&sid=16311116007807007&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-airbnb-bangalore-bengaluru-7-to-12-years-080921500017?src=jobsearchDesk&sid=16311116007807007&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-happiest-minds-technologies-pvt-ltd-bangalore-bengaluru-5-to-10-years-070921501517?src=jobsearchDesk&sid=16311116007807007&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-sql-ave-promagne-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-8-years-060921904967?src=jobsearchDesk&sid=16311116007807007&xp=6&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-6-to-8-years-010921906637?src=jobsearchDesk&sid=16311116007807007&xp=7&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-010921906105?src=jobsearchDesk&sid=16311116007807007&xp=8&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bangalore-bengaluru-6-to-11-years-080221900886?src=jobsearchDesk&sid=16311116007807007&xp=9&px=1',
 'https://www.naukri.com/job-listings-freelance-data-scientist-project-based-shikvix-bangalore-bengaluru-3-to-8-years-060921008814?src=jobsearchDesk&sid=16311116007807007&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-neenopal-intelligent-solutions-private-limited-bangalore-bengaluru-2-to-5-years-080921006998?src=jobsearchDesk&sid=16311116007807007&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-prescience-decision-solutions-private-limited-bangalore-bengaluru-5-to-10-years-080921005624?src=jobsearchDesk&sid=16311116007807007&xp=12&px=1',
 'https://www.naukri.com/job-listings-requirement-for-data-scientist-mumbai-bangalore-crisil-limited-bangalore-bengaluru-mumbai-all-areas-2-to-6-years-080921005523?src=jobsearchDesk&sid=16311116007807007&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-070921602158?src=jobsearchDesk&sid=16311116007807007&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-070921002157?src=jobsearchDesk&sid=16311116007807007&xp=15&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ml-sp-staffing-services-private-limited-pune-chennai-bangalore-bengaluru-10-to-15-years-100621006203?src=jobsearchDesk&sid=16311116007807007&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16311116007807007&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-2-to-4-years-010921906678?src=jobsearchDesk&sid=16311116007807007&xp=18&px=1',
 'https://www.naukri.com/job-listings-cognitive-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-030921904668?src=jobsearchDesk&sid=16311116007807007&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-big-data-capgemini-technology-services-india-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-11-years-030921008208?src=jobsearchDesk&sid=16311116007807007&xp=20&px=1']

In [54]:
job_title=[]
job_desc=[]

In [66]:
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        job=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_title.append(job.text.replace("/n","new line"))
    except:
        job_title.append("-")
#fetching job description
    try:
        job_des=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_desc.append(job_des.text)
    except:
        job_desc.append("-")

In [67]:
job_title

['-',
 'Associate Data Scientist',
 '-',
 'Senior Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Data Scientist (Python & SQL)',
 '-',
 '-',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Freelance Data Scientist Project Based',
 '-',
 'Associate Data Scientist',
 '-',
 'Senior Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Data Scientist (Python & SQL)',
 '-',
 '-',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Freelance Data Scientist Project Based',
 'Data Scientist',
 'Data Scientist',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - ML',
 '-',
 '-',
 '-',
 '-',
 '-',
 'Associate Data Scientist',
 '-',
 'Senior Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Data Scientist (Python & SQL)',
 '-',
 '-',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Freelance Data Scientist Project Based',
 'Data Scientist',
 'Data Scientist',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - ML',
 '-',
 '-',
 '-',
 '-',
 '-',
 'Associate Data Scientist',
 '-',
 'Senior Data Scientist',
 'SENIOR DATA SCIENTIST',
 'Data Scientist (Python & SQL)',
 '-',
 '-',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Freelance Data Scientist Project Based',
 'Data Scientist',
 'Data Scientist',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - ML',
 '-',
 '-',
 '-',
 '-']

In [68]:
job_desc

['-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 'Job description\nUse predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomes\nWork with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled.\nSelecting features, building and optimizing classifiers using machine learning and deep learning techniques\nCollaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systems\nProcessing, cleansing, and verifying the integrity of data used for analysis\nDevelop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models.\nAdherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.\nJob Qualifications:\nMaster s degree or PhD in Computer Science, Information management, Statistics or related field, with 3 to 5 years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product development\nExperience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc.\nStrong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etc\nHaving strong knowledge in unsupervised learning algorithms using Neural networks and Deep-Learning\nStrong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners.\nDeep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalent\nExperience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools.\nProficiency in using query languages, such as SQL, PL/SQL\nHands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc.\nGood applied statistics skills, such as distributions, statistical testing, regression, etc.\nGood ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition.\nA team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation.\nAbility to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlines\nA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization.\nA self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data science\nRoleClinical Research Associate/Scientist\nIndustry TypeMedical Services / Hospital\nFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnology\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :Any Graduate\nPG :Post Graduation Not Required\nKey Skills\nProduct managementComputer sciencemetadataMachine learningAgilePLSQLHealthcareQlikViewData miningPython',
 '-',
 'Job description\nResponsibilities include:\nDefining and evaluating key metrics and understanding what moves them and why\nOwnership of conceptualizing, developing, and maintaining dashboards and visualizations\nInvestigating evolving fraud trends to extract patterns, identify root causes and propose actionable solutions\nCommunicating analyses and recommendations to cross functional stakeholders for decision making\nEmpowering the team to answer data questions quickly and easily by building high-quality ground truth data sets\nHere are example traits we value:\nProfessional industry experience in a quantitative analysis role (7+ years preferred)\nComfortable in SQL and some experience with a programming language (Python or R a plus)\nAbility to communicate clearly and effectively to cross functional partners of varying technical levels\nAbility to define relevant metrics that can guide and influence stakeholders to the appropriate and accurate insights\nExperience or willingness to learn tools to create data pipelines using Airflow\nBuilding clear and easy to understand dashboards (Tableau) and presentations\nRoleGraphic/Web Designer\nIndustry TypeInternet\nFunctional AreaIT Software - DBA, Datawarehousing\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nData ScienceRData ScientistTableauPythonSql',
 'Job description\n  Skills\nRequired Skills: Data Science, Machine Learning, Deep Learning, Python, NLP\nDesired Skills: Computer Vision\nRoles and responsibilities\nExperience in Data Modelling, R, Python, SQL, Data Science, Machine Learning, Deep Learning, NLP, Statistics\nHave ability to solve Business problems using Data\nShould possess extensive knowledge of and experience in applying data mining and machine learning techniques on large amount of datasets\nHigh level of proficiency in statistical tools like R, Python\nCandidate will be expected to communicate analytical results in a way that is meaningful for business stakeholders and provides actionable insights.\nHave the ability to discover new opportunities where advanced analytical techniques can be leveraged for solving business problems\nGood to Have\nExpertise in programming languages like Java/C/C /Python\nExperience with relational databases and SQL is good to have\nExperience in audio and video analytics\nRelevant experience in Big Data platforms like Hadoop eco-system\nCome up with innovative algorithms and solutions\nStaffing Type:Permanent\nRoleClinical Research Associate/Scientist\nIndustry TypeIT Services & Consulting\nFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnology\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nHospitalityNSEStaffingBfsiAnalyticalAgileData miningAnalyticsAutomotiveSQL',
 'Job description\nRequired Technical and Professional Expertise\n• 6+ years of industry work experience in data scientist projects\n• Master’s degree or higher in Statistics/Math/Computer Science or related field\n• Background in applied statistical modeling on large experimental or observational data sets\n• Experience extracting data from a variety of sources, and a desire to expand those skills (working knowledge SQL is required, Spark is a plus)\n• Experience with one or more statistical or machine learning software such as R, Python, etc.\n• Must showcase past work through published articles/GitHub/social media\n\nPreferred Technical and Professional Expertise\n• Knowledge of distributed computing systems, e.g. Cosmos, Spark, Hadoop, and relational database management system\n• PhD. in Statistics is preferred\n• You love collaborative environments that use agile methodologies to encourage creative design thinking and find innovative ways to develop with cutting edge technologies\n• Ambitious individual who can work under their own direction towards agreed targets/goals and with creative approach to work\n• Intuitive individual with an ability to manage change and proven time management\n• Proven interpersonal skills while contributing to team effort by accomplishing related results as needed\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Sc in Maths, Statistics\nPG :MS/M.Sc(Science) in Maths, Statistics\nDoctorate :Doctorate Not Required\nKey Skills\nRData scienceData analyticsSQLPython',
 '-',
 '-',
 'Job description\nRoles and Responsibilities\nRequirements :\n\n- 6-9 years of strong experience in data mining, machine learning and statistical analysis.\n\n- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Python/ R/ Matlab etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Sc in Computers, Statistics\nPG :MS/M.Sc(Science) in Computers, Statistics\nDoctorate :Ph.D/Doctorate in Statistics, Computers\nKey Skills\nData ScienceRData ScientistData MiningStatistical AnalystMachine LearningMATLABPython',
 "Job description\n\nJob description:\n\nSeeking senior data scientists for project-based roles that involve working on various projects.\n\nThe candidate must have experience in Python coding language and machine learning. The candidate will be working on a part-time basis and hours will be flexible based on the candidate's availability.\nOpportunity to grow in a startup setting.\nWhat you'll need:\nB.Tech in CS or Statistics with demonstrable experience of over 5 years through publications/deployed solutions/projects.\nM.Tech or Ph.D. in CS or Statistics with demonstrable experience of over 3 years through publications/deployed solutions/projects.\nA deep understanding of applied statistical analysis and predictive modeling is desired.\nThe candidate must have a thorough grasp of the theory and application of broad ML algorithms namely, but not limited to regression, SVM, Tree, Random Forests, Boosting, Neural Network, clustering, forecasting, deep learning, text analysis, etc.\nIt is not expected that the candidate has actually worked on all these modules.\nStrong proficiency in Python or R is necessary\n\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypePart Time, Freelance/Homebased\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate\nKey Skills\nPredictive ModelingRAlgorithmsSVMClusteringMachine LearningStatistical AnalysisStatisticsDeep LearningPython",
 'Job description\nRoles and Responsibilities\nWe are looking for someone who would be responsible for analyzing data and providing business insights. As a Data Scientist your responsibilities will include understanding the business problem and experimenting with different modelling architectures to create the best possible setup from model performance as well as computational performance. To do this job successfully, you need exceptional skills in Machine Learning and Programming. Your ultimate goal will be to find the best data-based solution for the problem at hand.\nMoreover, you are expected to learn fast and deliver quickly in a fast-paced startup environment. If you thrive on ambiguity and are a problem solver and yet deliver value to clients, feel free to reach out to us.\nWe are looking ONLY FOR SELF DRIVEN INDIVIDUALS with a desire to excel in Data Science Domain.\nUnderstanding business objectives and developing models that help to achieve them, along with metrics to track their progress\nDevelop and maintain robust data processing pipelines and reproducible modeling pipelines\nBuild mathematical models to solve various problems ranging from Time Series forecasting to Neural Networks and ensure seamless deployment in production pipelines.\nAnalyze experimental results, iterate and refine models to create significant business impact\nFollow strict coding standards and other software engineering best practices\n\n\nDesired Candidate Profile\nProven experience as a Data Scientist or similar role\nStrong SQL, R/Python Skills\nShould have familiarity with Machine Learning Models and fundamentals in Forecasting and Optimization Techniques\nShould have strong mathematical background & analytical bent of mind\nStrong Problem-Solving Ability\nAbility to communicate well in a highly collaborative team environment, consisting of both technical and non-technical personnel\nReliable self-starter that is capable of working with a high degree of autonomy\n\n\nPerks and Benefits\n\nNeenOpal is a global management consulting firm with a unique and specialized focus on Data Science.\nWe provide services across the whole value chain of an organization - Digital Strategy, Sales & Marketing, Supply Chain & Logistics as well as Finance. Youll have a blast doing it in our fun, passionate environment.\nRoleData scientist\nIndustry TypeManagement Consulting\nFunctional AreaIT Software - Other\nEmployment TypeFull Time, Permanent\nRole CategoryNot mentioned\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nData SciencePythonSQL\nExcelSoftware EngineeringProblem SolvingNeural NetworksTime SeriesData AnalysisBusiness InsightsData ProcessingMachine Learning\nSkills highlighted with ‘‘ are preferred keyskills',
 'Job description\nHi,\n\nWe at Prescience www.prescienceds.com looking for Data Scientist @ Bangalore .\n\nRoles and Responsibilities\nAs a Data Scientist you will be working with senior management of clients to understand the business requirements, define right problem statement and come up with a framework for the solution. You will also work on the solution and at time guide a small team to deliver the same. Part of job role would be develop products in the area of Natural Language Processing, Conversational Interfaces, Text Mining etc.\n\nDesired Candidate Profile\nWhat we are looking for:\nGood applied statistics skills, such as distributions, statistical testing, regression, etc. Experience in Natural Language Processing, Computer Vision. Exposure to common data science business problems like clustering, classification, anomaly detection, prediction etc.\nGood understanding of machine learning techniques and algorithms\nExperience with common data science toolkits Python, R, SAS\nProficiency in using query languages such as SQL, Hive, etc Experience with NoSQL database, SQL Server, PostgreSQL, MongoDB\nGreat communication skills\nData-oriented personality and excellent business analysis skills\nExperience in solutioning for data science related problems, work with business stakeholders to define right problem statement and solution.\nOpen to professionals who have data analytics / BI background and then moved to Data Scientist roles.\n\nPerks and Benefits\n\n\nRoleOther\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryOther\nEducation\nUG :Any Graduate\nKey Skills\nTensorflowPostgreSQLNatural Language ProcessingNeural NetworksMachine LearningStatisticsSQLData ScienceAnomaly DetectionPytorchRNLPMongoDBQlikViewComputer VisionData AnalyticsPython',
 'Job description\n\nCRISIL (formerly Credit Rating Information Services of India Limited) is an Indian analytical company providing ratings, research, and risk and policy advisory services and is a subsidiary of American company S&P Global\n\nWe are looking Data Scientist for Mumbai & Bangalore location\nCandidates who can join immediately or within 30-45 need only apply\n\nPlease refer below JD for your reference-\n\nJob Description Data scientist:\nClient oriented approach to problem solving. Individual should be able to have a holistic view of multiple businesses and develop analytic solutions accordingly.\nOwn and deliver multiple and complex analytic projects. This would require an understanding of business context, conversion of business problems in modeling, and implementing such solutions to create business value.\nAlways up to date with the latest use cases of modeling community, machine learning and deep learning algorithms and share knowledge within the team.\nProficiency in basic statistics, hypothesis testing, segmentation and predictive modeling.\nAbility to translate and articulate technical thoughts and ideas to a larger audience including influencing skills with peers and senior management.\nStrong project management skills.\nAbility to coach and mentor juniors.\nEagerness to work on new and challenging tasks on a regular basis with an ability to research new ways of doing things better/efficiently.\nContribute to organizational initiatives in wide ranging areas including competency development, training, organizational building activities etc.\nSkills\n\nBasic Qualifications\n\nBachelors Degree with 2+ years of experience in data analytics,\nHands-on experience in Python / SAS or R programing along with strong experience in SQL and Excel Macros.\nExperienced in working with large and multiple datasets, data warehouses and ability to pull data using relevant programs and coding.\nWell versed with necessary data preprocessing and feature engineering skills.\nAt least 2 years of experience implementing Machine learning algorithms such as Random Forest and Gradient Boosting in solving business problems such as Default classification and macroeconomic forecasting.\nAt least 1 year of experience implementing deep learning techniques like neural networks\nExposure to deep learning packages like Tensorflow\nStrong background in Statistical Analysis\nBackground in BFSI space will be preferred\n\nRoleData Analyst\nIndustry TypeBanking\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nrMachine LearningPython\nTensorflowPredictive ModelingSegmentationNeural NetworksDeep LearningRandom ForestSQL\nSkills highlighted with ‘‘ are preferred keyskills',

In [78]:
jobs=pd.DataFrame({})
jobs['Job Title']=job_titles[:10]
jobs['Comp Title']=company_titles[:10]
jobs['Exp']=experiance_yr[:10]
jobs['Location']=location[:10]
jobs['job_desc']=job_desc[:10]  
jobs

,Job Title,Comp Title,Exp,Location,job_desc
0,Lead Data Scientist BFSI,IBM India Pvt. Limited,5-9 Yrs,Bengaluru/Bangalore,-
1,Associate Data Scientist,Philips India Limited,3-5 Yrs,Bangalore/Bengaluru,-
2,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,3-7 Yrs,Bengaluru/Bangalore,-
3,Senior Data Scientist,Airbnb,7-12 Yrs,Bangalore/Bengaluru,-
4,SENIOR DATA SCIENTIST,Happiest Minds Technologies Pvt.Ltd,5-10 Yrs,Bangalore/Bengaluru,-
5,Data Scientist (Python & SQL),AVE-Promagne,6-8 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",-
6,Sr Data Scientist,IBM India Pvt. Limited,6-8 Yrs,Bengaluru/Bangalore,-
7,Sr Data Scientist,IBM India Pvt. Limited,6-8 Yrs,Bangalore/Bengaluru,-
8,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,6-11 Yrs,Bangalore/Bengaluru,-
9,Freelance Data Scientist Project Based,Shikvix,3-8 Yrs,Remote,-

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [10]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.naukri.com/data-scientist-jobs?k=data%20scientist")
filter_button=driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']/span")
for i in filter_button:
    if i.text=='Delhi / NCR':
        i.click()
        break

In [11]:
filter_button=driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']/span")
for i in filter_button:
    if i.text=='3-6 Lakhs':
        i.click()
        break

In [12]:
#extract all the tags havng job title
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#extract job title is inside the tags using for loop
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)

location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
#extract experiance  is inside the tags using for loop
location=[]
for i in location_tags:
    location.append(i.text)

company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#extract company title is inside the tags using for loop
company_titles=[]
for i in company_tags:
    company_titles.append(i.text)

exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
#extract company title is inside the tags using for loop
experiance=[]
for i in exp:
    experiance.append(i.text)

jobs=pd.DataFrame({})
jobs['Job Title']=job_titles[:10]
jobs['Comp Title']=company_titles[:10]
jobs['Location']=location[:10]
jobs['Exp']=experiance[:10]
jobs

Empty DataFrame
Columns: [Job Title, Comp Title, Location, Exp]
Index: []

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [140]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm")

In [160]:
#extract all the tags havng job title
title_tags=driver.find_elements_by_xpath("//a[@class='jobLink job-search-key-1rd3saf eigr9kq1']/span")
#extract job title is inside the tags using for loop
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)

company_tags=driver.find_elements_by_xpath("//a[@class=' job-search-key-l2wjgv e1n63ojh0 jobLink']/span")
#extract company title is inside the tags using for loop
company_titles=[]
for i in company_tags:
    company_titles.append(i.text)
company_titles

days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")
#extract experiance  is inside the tags using for loop
daysold=[]
for i in days:
    daysold.append(i.text)

rating=driver.find_elements_by_xpath("//span[@class=' job-search-key-srfzj0 e1cjmv6j0']")
#extract company title is inside the tags using for loop
rating_1=[]
for i in rating:
    rating_1.append(i.text)



jobs=pd.DataFrame({})
jobs['Job Title']=job_titles[:10]
jobs['Comp Title']=company_titles[:10]
jobs['Days Old Post']=daysold[:10]
jobs['Rating']=rating_1[:10]
jobs

,Job Title,Comp Title,Days Old Post,Rating
0,Data Scientist,Lenskart,1d,3.6
1,Associate Data Scientist,Liberin Technologies Private Limited,30d+,3.5
2,Data Scientist,AlgoScale Technologies Private Limited,14d,4.5
3,Data Scientist,Ishatva Management Solutions,9d,3.3
4,Data Scientist,limeroad.com,14d,4.2
5,Data Science Training Head-Full Time,Emerging India Analytics,30d+,3.5
6,Data Scientist,Saishaa Services,16d,3.2
7,Management Trainee – Data Science,Grail Insights,24h,4.0
8,Data Science Consultant,Badatya Private Limited,11d,3.8
9,Data Scientist,Newgen Software,30d+,3.8

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn")

In [30]:
#extract all the tags havng company title
company_tags=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
#extract company title is inside the tags using for loop
company_titles=[]
for i in company_tags:
    company_titles.append(i.text)


avg_salary=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']/h3")

Avg_salary=[]
for i in avg_salary:
    Avg_salary.append(i.text)

number_salary=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']/span")

Number_salary=[]
for i in number_salary:
    Number_salary.append(i.text)

Number_salary



rating=driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")

Rating=[]
for i in rating:
    Rating.append(i.text)


minmax_salary=driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")

MinMax_salary=[]
for i in minmax_salary:
    MinMax_salary.append(i.text)

    
jobs=pd.DataFrame({})

jobs['Comp Title']=company_titles[:10]
jobs['Number of Salary']=Number_salary[:10]
jobs['Avg salary']=Avg_salary[:10]
jobs['MinMax_salary']=MinMax_salary[:10]
jobs['Rating']=Rating[:10]
jobs

,Comp Title,Number of Salary,Avg salary,MinMax_salary,Rating
0,Tata Consultancy Services,21 salaries,"₹6,31,184",Range: ₹4L - ₹13L,3.9
1,IBM,20 salaries,"₹9,08,246",Range: ₹1L - ₹28L,3.9
2,Accenture,15 salaries,"₹11,93,390",Range: ₹6L - ₹23L,4.1
3,Delhivery,15 salaries,"₹12,49,716",Range: ₹5L - ₹1Cr,3.8
4,Ericsson-Worldwide,14 salaries,"₹7,58,335",Range: ₹4L - ₹17L,4
5,UnitedHealth Group,14 salaries,"₹12,80,000",Range: ₹8L - ₹16L,3.7
6,Optum,10 salaries,"₹13,55,086",Range: ₹8L - ₹20L,3.7
7,Optum Global Solutions,10 salaries,"₹14,55,430",Range: ₹10L - ₹18L,3.9
8,Valiance Solutions,10 salaries,"₹8,86,064",Range: ₹5L - ₹15L,4.2
9,EXL Service,9 salaries,"₹11,10,000",Range: ₹6L - ₹16L,3.6

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [45]:
#first connect to the web driver through chromedriver.exe which is prsent in downlod file
driver=webdriver.Chrome(r"chromedriver.exe")
url='https://www.flipkart.com/'
driver.get(url)

In [46]:
search_job=driver.find_element_by_class_name('_3704LK')
search_job.send_keys("sunglass")
search_btn=driver.find_elements_by_xpath("//button[@class='L0Z3Pu']")
search_btn=driver.find_element_by_class_name('L0Z3Pu')
search_btn.click()

In [47]:
counter = 1
Discount=[]
Brnd_Name=[]
Prod_desc=[]
Price=[]
while (counter <=4):
    brand_name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_name:
        Brnd_Name.append(i.text)

    prod_desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in prod_desc:
        Prod_desc.append(i.text)    
    
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price:
        Price.append(i.text)
    
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in discount:
        Discount.append(i.text) 
        
    if (counter>100):
            break
    else:
            counter += 1        
            data.append([company,desc,price,discount])
            
    page_count += 1
    driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']/a")[-1].click()
    time.sleep(2)

sunglass=pd.DataFrame({})
sunglass['Brand Name']=Brnd_Name[:100]
sunglass['Prod Desc']=Prod_desc[:100]
sunglass['Price']=Price[:100]
sunglass['Discount']=Discount[:100]
sunglass

,Brand Name,Prod Desc,Price,Discount
0,LIZA ANGEL,"UV Protection, Gradient Wayfarer, Clubmaster S...",₹449,65% off
1,AISLIN,"UV Protection, Polarized, Mirrored Rectangular...",₹525,65% off
2,SHAAH COLLECTIONS,UV Protection Aviator Sunglasses (54),₹198,88% off
3,PIRASO,UV Protection Round Sunglasses (54),₹225,85% off
4,Elligator,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹295,88% off
...,...,...,...,...
95,NuVew,UV Protection Clubmaster Sunglasses (Free Size),₹398,76% off
96,povty,"UV Protection Retro Square, Aviator Sunglasses...",₹349,65% off
97,PHENOMENAL,"UV Protection, Gradient Retro Square Sunglasse...",₹319,84% off
98,Elligator,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹312,84% off
99,ROZZETTA CRAFT,UV Protection Sports Sunglasses (Free Size),₹404,79% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.

In [14]:
driver=webdriver.Chrome(r"chromedriver.exe")
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)
# Creating empty list
urls=[]
short_review=[]
complete_review=[]
stars=[]

In [15]:
#Taking 10 pages into consideration using for loop
url=driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in url:
    urls.append(i.get_attribute('href'))
    
    
for j in urls:
    driver.get(j)
    
    #for scrapping the number of stars
    
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        stars.append(j.text)
    #for scrapping the short review
    
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    #for scrapping the complete review   
  
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)

In [17]:
import pandas as pd

phone_detail=pd.DataFrame({})
phone_detail['Rating']=stars[0:80]
phone_detail['Review_summary']=short_review[0:80]
phone_detail['Full Review']=complete_review[0:80]
phone_detail

,Rating,Review_summary,Full Review
0,5,Highly recommended,What a camera .....just awesome ..you can feel...
1,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
2,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
3,5,Classy product,Totally in love with this ❤ the camera quality...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
75,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
76,5,Pretty good,I've used this phone for over a month now and ...
77,5,Wonderful,Nice value for money good and best price I pho...
78,5,Wonderful,Super and marvellous phone look very cute and ...
79,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [40]:
#first connect to the web driver through chromedriver.exe which is prsent in downlod file
driver=webdriver.Chrome(r"chromedriver.exe")
url='https://www.flipkart.com/'
driver.get(url)

In [42]:
search_job=driver.find_element_by_class_name('_3704LK')
search_job.send_keys("sneakers")
search_btn=driver.find_elements_by_xpath("//button[@class='L0Z3Pu']")
search_btn=driver.find_element_by_class_name('L0Z3Pu')
search_btn.click()

In [44]:
counter = 1
Discount=[]
Brnd_Name=[]
Prod_desc=[]
Price=[]
while (counter <=4):
    brand_name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_name:
        Brnd_Name.append(i.text)

    prod_desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in prod_desc:
        Prod_desc.append(i.text)    
    
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price:
        Price.append(i.text)
    
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in discount:
        Discount.append(i.text) 
        
    if (counter>4):
            break
    else:
            counter += 1        
            data.append([company,desc,price,discount])
            
    page_count += 1
    driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']/a")[-1].click()
    time.sleep(2)

sneakers=pd.DataFrame({})
sneakers['Brand Name']=Brnd_Name[:100]
sneakers['Prod Desc']=Prod_desc[:100]
sneakers['Price']=Price[:100]
sneakers['Discount']=Discount[:100]
sneakers

,Brand Name,Prod Desc,Price,Discount
0,SPARX,Casual Sneakers Sneakers For Men,₹935,23% off
1,PUMA,C-Skate Vulc Sneakers For Men,"₹2,250",49% off
2,SPARX,SD-323 Sneakers For Men,₹576,23% off
3,Absolutee shoes,Sneakers For Men,₹487,51% off
4,World Wear Footwear,303 Sneakers For Men,₹299,40% off
...,...,...,...,...
95,VORII,Casual shoes for men white colour syenthetic f...,₹379,62% off
96,Carlo Style,Casual Sneakers Sneakers For Men,₹380,61% off
97,PUMA,C-Skate Vulc Sneakers For Men,"₹1,537",53% off
98,RODDICK SHOES,SD-323 Sneakers For Men,₹474,52% off
99,tigonis,Sneakers For Men,₹360,79% off

# Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [118]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6871.0_13578.0_6871.0%20TO%2013578.0")

In [ ]:
filter_button=driver.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']//label[@class='price-input']")
for i in filter_button:
    if i.text=='Rs. 6871 to Rs. 13578':
        i.click()
        break
filter_button=driver.find_elements_by_xpath("//span[@class='colour-label colour-colorDisplay']")
for i in filter_button:
    if i.text=='Black':
        i.click()
        break

In [119]:
counter = 1
Brand=[]
Price=[]
Description=[]

while (counter <=4):
    brand=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
    for i in brand:
        Brand.append(i.text)

    description=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//h4[@class='product-product']")
    for i in description:
        Description.append(i.text)

    price=driver.find_elements_by_xpath("//div[@class='product-price']/span")
    for i in price:
        Price.append(i.text)

    if (counter>100):
            break
    else:
            counter += 1 
    page_count += 1
    driver.find_elements(By.XPATH,"//li[@class='pagination-active']/a")[-1].click()
    time.sleep(2)
    
shoe=pd.DataFrame({})
shoe['Brand']=Brand[:100]
shoe['Description']=Description[:100]
shoe['Price']=Price[:100]
shoe

,Brand,Description,Price
0,ALDO,Men Driving Shoes,Rs. 11999
1,Puma,Men Cell Fraction Fade Running,Rs. 6999
2,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099Rs. 8999
3,Geox,Men Printed Slip-On Sneakers,(10% OFF)
4,Puma,Men BlackTraining or Gym Shoes,Rs. 10999
...,...,...,...
95,Heel & Buckle London,Women Solid Leather Gladiators,Rs. 8999Rs. 9999
96,ALDO,Women Woven Design Sneakers,(10% OFF)
97,RARE RABBIT,Men Leather Flat Boots,Rs. 6999
98,J.FONTINI,Men Textured Leather Formal Loafers,Rs. 9999
99,PUMA Motorsport,Women BMW M Motorsport Shoes,Rs. 7999

# Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [101]:
#first connect to the web driver through chromedriver.exe which is prsent in downlod file
driver=webdriver.Chrome(r"chromedriver.exe")
url='https://www.amazon.in/s?k=Laptop&ref=nb_sb_noss_2'
driver.get(url)

In [97]:
search_job=driver.find_element_by_class_name('nav-fill')
search_job.send_keys("Laptop")
search_btn=driver.find_elements_by_xpath("//button[@class='nav-search-submit nav-sprite']")
search_btn=driver.find_element_by_class_name('nav-search-submit nav-sprite')
search_btn.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=93.0.4577.63)

In [102]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [103]:
company_titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
Company_titles=[]
for i in company_titles:
    Company_titles.append(i.text)

price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
Price=[]
for i in price:
    Price.append(i.text)

#below code is to obtain rating
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    urls.append(i.get_attribute("href"))

Rating=[]
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']")
        Rating.append(rating.text.replace("/n","new line"))
    except:
        Rating.append("-")
Laptop=pd.DataFrame({})
Laptop['Comp Title']=Company_titles[:10]
Laptop['Price']=Price[:10]
Laptop['Rating']=Rating[:10]
Laptop

                                          Comp Title     Price        Rating
0  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  1,23,550  4.1 out of 5
1  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....    77,990  4.3 out of 5
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...    57,990  4.2 out of 5
3  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...    73,990  4.4 out of 5
4  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...  5,56,524  3.9 out of 5
5  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...    87,990  3.8 out of 5
6  ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...  1,13,990             -
7  Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....  1,07,990  4.2 out of 5
8  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    86,990  4.1 out of 5
9  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...    91,990    5 out of 5